<!-- share-task.component.html
<div class="container mt-5">
    <h2>Share Task</h2>
    <form (ngSubmit)="shareTask()">
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" id="username" [(ngModel)]="username" name="username" class="form-control" placeholder="Enter username or email" required>
      </div>
      <button type="submit" class="btn btn-primary mt-3">Share</button>
    </form>
  </div>
  



<!-- app.component.html -->
<app-navbar></app-navbar>
<router-outlet></router-outlet>
<app-sidebar></app-sidebar> 
