.container {
    max-width: 500px;
    margin: auto;
    padding: 50px;
    background-color: #f5f5f5;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .container h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .container form {
    display: flex;
    flex-direction: column;
  }
  
  .container .form-group {
    margin-bottom: 20px;
  }
  
  .container .form-group label {
    font-weight: bold;
    margin-bottom: 5px; /* Espacio adicional debajo de las etiquetas */
  }
  
  .container .form-group input,
  .container .form-group textarea,
  .container .form-group select {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    transition: border-color 0.3s ease; /* Transici칩n suave para los bordes */
  }
  
  .container .form-group input:focus,
  .container .form-group textarea:focus,
  .container .form-group select:focus {
    border-color: #007bff; /* Cambio de color de borde en el foco */
  }
  
  .container .form-group textarea {
    height: 100px;
  }
  
  .container button[type="submit"] {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease; /* Transici칩n suave para el fondo */
  }
  
  .container button[type="submit"]:hover {
    background-color: #0056b3;
  }
  
  /* Dise침o adaptable para diferentes tama침os de pantalla */
  @media (max-width: 600px) {
    .container {
      padding: 20px;
    }
  }
  