<!-- app.component.html -->
<app-navbar></app-navbar>
<!-- <router-outlet></router-outlet>
<app-sidebar></app-sidebar> -->

<!-- task-list-component.component.html -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

<div class="task-list w-80">
  <h2>Task List</h2>
  <!-- Botones para filtrar tareas -->
  <div class="filter-buttons">
    <button (click)="filterTasks(true)" class="btn btn-success">Show Completed Tasks</button>
    <button (click)="filterTasks(false)" class="btn btn-warning">Show Pending Tasks</button>
    <button (click)="filterTasks(null)" class="btn btn-info">Show All Tasks</button>
  </div>
  <table class="task-table">
    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Deadline</th>
        <th>Category</th>
        <th>Status</th>
        <th>Completion Icon</th>
        <th>Time Taken</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <!-- Itera sobre filteredTasks en lugar de tasks -->
      <tr *ngFor="let task of filteredTasks" class="task-item">
        <td>{{ task.title }}</td>
        <td>{{ task.description }}</td>
        <td>{{ task.deadline }}</td>
        <td>{{ task.category }}</td>
        <td class="task-status" [ngClass]="{'completed': task.completed, 'pending': !task.completed}">
          {{ task.completed ? 'Completed' : 'Pending' }}
        </td>
        <td class="task-status">
          <i class="fas fa-check completed" *ngIf="task.completed"></i>
          <i class="fas fa-times pending" *ngIf="!task.completed"></i>
        </td>
        <td>{{ formatTimeTaken(task.timeTaken) }}</td>
        <td>
          <button (click)="updateTaskStatus(task)" class="btn btn-sm btn-outline-primary">
            <i class="fas fa-check-circle"></i> {{ task.completed ? 'Mark as Pending' : 'Mark as Completed' }}
          </button>
          <button (click)="deleteTask(task)" class="btn btn-sm btn-outline-danger">
            <i class="fas fa-trash-alt"></i> Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
  <button routerLink="/add-task" class="btn btn-primary add-task-button">Add Task</button>
</div>




